@charset "utf-8";

/* 초기화 */

* {
  margin: 0; padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #333;
}

body {
  color: #333;
}

li {
  list-style: none;
}

.hide {
  display: none;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

/* wrap */
.wrap {
  display: flex;
  width: 1000px; height: 650px;
}

header {
  width: 200px; height: 100%;
}

h1 {
  width: 200px; height: 100px;
}

h1>a {
  display: block;
  width: 100%; height: 100%;
  font-size: 0;
  background: #fff url(../images/header/logo.jpg) no-repeat center/contain;
}

nav {
  width: 100%;
}

.gnb {
  width: 90%; 
  margin: 0 auto;
  line-height: 50px; text-align: center;
}

.gnb li a {
  display: block;
  width: 100%; height: 50px;
  font-weight: bold;
  background: #ccc; color: #fff;
}

.gnb li a:hover {
  color: gold; background: #666;
}

.gnb>li {
  width: 100%; 
}

.gnb>li>ul {
  width: 100%; 
  display: none;
}

.gnb>li>a {
  background: #333; 
}


.right_wrap {
  width: 800px; height: 100%;
}

main {
  width: 100%; height: 550px;
}

.fade_slider_section {
  width: 100%; height: 350px;
}

.fade_slider {
  position: relative;
  width: 100%; height: 100%;
  overflow: hidden;
}

.fade_slider>div {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
}

.fade_slider>div>p {
  text-align: center;
  font-weight: bold; font-size: x-large;
  margin: 30%;
  background: #333; color: #fff;
  opacity: 0.7;
}

.fade_slider>div:nth-child(1) {
  background: url(../images/slide/img1.jpg) no-repeat center/cover;
  z-index: 4;
}

.fade_slider>div:nth-child(2) {
  background: url(../images/slide/img2.jpg) no-repeat center/cover;
  z-index: 3;
}

.fade_slider>div:nth-child(3) {
  background: url(../images/slide/img3.jpg) no-repeat center/cover;
  z-index: 2;
}

.content_wrap {
  display: flex;
  width: 100%; height: 200px;
}

.notice_wrap {
  width: 40%; height: 100%;
  line-height: 40px;
}

h3 {
  width: 40%;
  text-align: center; 
  background: #333; color: #fff;
}

.notice_wrap>a {
  display: block;
  width: 100%; height: 40px;
  padding: 0 10px;
}

.notice_wrap>a:hover {
  font-weight: bold;
}

.notice_wrap>a>span:nth-child(2) {
  float: right;
}

.gallery_wrap {
  width: 40%; height: 100%;
  line-height: 40px;
  text-align: center;
}

.gallery_wrap>img {
  width: 30%;
  margin: 10% 1%;
}

.gallery_wrap>img:hover {
  opacity: 0.7;
}

.direct {
  position: relative;
  width: 20%; height: 100%;
}

.direct>a {
  position: absolute;
  top: 0; left: 0;
  display: block;
  width: 100%; height: 100%;
  background: url(../images/contents/contents.jpg) no-repeat center/cover;
}

.direct>a>p {
  text-align: center;
  margin: 50% 20%;
  font-weight: bold; font-size: large;
  background: #333; color: #fff;
  opacity: 0.7;
}

footer {
  display: flex;
  width: 100%; height: 100px;
  background: #888;
}

.footer01 {
  text-align: center;
  margin-top: 35px;
  font-size: large;
  width: 70%; height: 100%;
}

.footer02 {
  width: 30%; height: 100%;
}

.footer02>div {
  width: 100%; height: 60%;
  text-align: center;
}

.footer02>div>img {
  margin: 5px 10px;
}

.footer02>select {
  width: 90%; height: 30%;
  margin-top: 5px;
  margin-left: 10px;
}

.pop_up {
  z-index: 10;
  position: fixed;
  top: 40%; left: 30%;
  width: 250px; height: 150px;
  padding: 10px;
  background: #fff;
  text-align: center;
  display: none;
}

.pop_up>h2 {
  margin-bottom: 10px;
}

.close_btn {
  position: absolute;
  bottom: 15px; right: 15px;
  width: 50px; height: 20px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}