@charset "utf-8";

* {
  margin: 0; padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #333;
}

li {
  list-style: none;
}

body {
  color: #333;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

/* wrap */
.wrap {
  display: flex;
}

header {
  width: 200px; height: 920px;
}

h1 {
  width: 200px; height: 100px;
}

h1>a {
  display: block;
  width: 100%; height: 100%;
  font-size: 0;
  background: url(../images/header/logo.png) no-repeat center/contain;
}

.nav_full {
  position: fixed;
  top: 100px; left: 200px;
  width: 100%; height: 0;
  background: #333;
  opacity: 0.7;
  transition: all 1s ease 0s;
  z-index: 10;
}

.nav_full.active {
  height: 250px;
}

.gnb {
  width: 100%; 
  line-height: 50px;
  text-align: center; font-weight: bold;
}

.gnb li a {
  display: block;
  width: 200px; height: 50px;
  color: #fff; 
}

.gnb li a:hover {
  background: #666; color: gold;
}

.gnb>li {
  position: relative;
  height: 50px;
}

.gnb>li>a {
  background: #fff; color: #333;
}

.gnb>li>ul {
  z-index: 10;
  position: absolute;
  top: 0; left: 100%;
  width: 1000px;
  display: none;
}

.gnb>li>ul>li>a {
  width: 200px; height: 50px;
  float: left;
}

.right_wrap {
  width: calc(100% - 200px); height: 920px;
  background: skyblue;
}

main {
  width: 100%; height: 800px;
  background: beige;
}

.auto_slider_section {
  width: 100%; height: 400px;
  background: plum;
}

.auto_slider {
  position: relative;
  width: 100%; height: 100%;
  overflow: hidden;
}

.auto_slider>div {
  position: absolute;
  left: 0;
  width: 100%; height: 100%;
}

.auto_slider>div>p {
  text-align: center;
  font-size: x-large; font-weight: bold;
  margin: 20% 30%;
  background: #333; color: #fff;
  opacity: 0.7;
}

.auto_slider>div:nth-child(1) {
  top: 0;
  background: url(../images/slide/img1.jpg) no-repeat center/cover;
}

.auto_slider>div:nth-child(2) {
  top: 100%;
  background: url(../images/slide/img2.jpg) no-repeat center/cover;
}

.auto_slider>div:nth-child(3) {
  top: 200%;
  background: url(../images/slide/img3.jpg) no-repeat center/cover;
}

.direct {
  width: 100%; height: 150px;
  text-align: center;
}

.direct>img {
  width: 10%;
  margin: 0 25px;
}

.direct>img:hover {
  opacity: 0.7;
}

.content_wrap {
  display: flex;
  width: 100%; height: 250px;
}

.notice_wrap {
  width: 50%; height: 250px;
  line-height: 50px;
  padding: 0 10px;
}

.notice_wrap>h3 {
  border-bottom: 1px solid #666;
}

.notice_wrap>a {
  display: block;
  width: 100%; height: 50px;
}

.notice_wrap>a:hover {
  font-weight: bold;
}

.notice_wrap>a>span:nth-child(2) {
  float: right;
}

.gallery_wrap {
  width: 50%; height: 100%;
  padding: 0 10px;
}

.gallery_wrap>h3 {
  line-height: 50px;
  border-bottom: 1px solid #666;
}

.gallery_wrap>div {
  text-align: center;
  margin: 20px 10px;
}

.gallery_wrap>div>img:hover {
  opacity: 0.7;
}

footer {
  display: flex;
  width: 100%; height: 120px;
  background: burlywood;
}

.footer01 {
  width: 70%; height: 100%;
}

.footer01>div {
  display: flex;
  width: 100%; height: 50%;
  margin-top: 20px;
}

.footer01>div>a {
  display: block;
  margin: 10px auto;
}

.footer01>p {
  text-align: center;
  margin: 10px auto;
}

.footer02 {
  width: 30%; height: 100%;
}

.footer02>select {
  width: 70%; height: 40px;
  font-size: 20px;
  margin: 35px 30px;
  cursor: pointer;
}